doctype html
html(lang='en')
  head
    title Books List
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    .container(align='center')
      .panel.panel-success
        .panel-heading(style='height: 150px;')
          h2 Books List
          button#logoutBtn.btn.btn-info(type='button', style='margin: 10px; width:200px;') Logout
        .panel-body
          table.table.table-striped
            thead
              tr
                th(width='30%') Book Name
                th(width='25%') Author
                th(width='30%') Publisher
                th(width='15%') Version
            tbody
                each book in booksList
                  tr
                    td(class='h3')
                      a(href='/normal/books/' + book._id)= book.bookname
                    td= book.author
                    td= book.publisher
                    td= book.version
      
      form#logoutform(method='POST', action="/logout")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    script(type='text/javascript').
      $(document).ready(function() {

        $('#logoutBtn').bind("click",function(){
          //window.location.href = window.location.hostname+"/books";
          $('#logoutform').submit();
        });


      });
